.busca-container {
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background: #ffffff;
    border-radius: 30px;
    padding: 10px 20px;
}

.busca-container input {
    border: none;
    outline: none;
    background: transparent;
    color: #000000;
    font-size: 1.2rem;
    width: 90%;
    padding: 10px;
}

.search-icon {
    color: #000000;
    font-size: 1.5rem;
    margin-left: 10px;
}

#bemvindo h2{
    position: absolute;
    top: 150px;
    text-align: center;
    font-size: 20rem;
    font-style: "Inria Serif", serif;
    color: hsl(0, 0%, 0%);
    margin-top: 200px;
}

#imagemdesconto img{
    width: 100%;
    display: flex;
    margin: auto;
    max-width: min-content;
    height: flex;
    text-align: center;
    padding: flex;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}


  #tudo {
    position: absolute;
    font-size: 100%;
    padding: 100px;
    background: #044F48;
    text-align: center;
    height: 500%;
    width: 85%;
  }
