/* css de reset */

* {
    padding: 0px;
    margin: 0px;
}

/* agora começa o css verídico*/

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#suprema {
    display: flex;
    flex-direction: column;

    width: 400px;
}

#cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #000000;
    width: 100%;
}
