html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #044F48;

}

#suprema {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo {
    width: 500px;
    padding: 15px;

    background-color: white;
    border-radius: 5%;
}

#nayve {
    font-family: "Inria Serif", serif;
    font-size: 2.5rem;
    letter-spacing: 2px;
    
}

#inicio {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    justify-content: center;
}

.botao-enviar {
    background-color: #044F48;
}

.btn-primary:hover {
 background-color: #044F48;
 border-color: #044F48;
}