<<<<<<< HEAD:src/css/style_login.css
html,body{
=======

  html,body{
>>>>>>> mayara:pagina login/style.css
    background-color: #044F48;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
<<<<<<< HEAD:src/css/style_login.css

=======
>>>>>>> mayara:pagina login/style.css
.quadrado {
    display: flex;
    justify-content: center;
    position: relative;
    width: 1250px;
    height: 80vh;
    background-color: white;
}
<<<<<<< HEAD:src/css/style_login.css

=======
>>>>>>> mayara:pagina login/style.css
h1{
    font-size: 66px;
    position: absolute;
    top: 0 ;
}

.login{
font-size: 32px;
margin-top:170px ;

}

<<<<<<< HEAD:src/css/style_login.css
=======
form div{
    margin: 70px 0;
    font-size: 40px;
}



>>>>>>> mayara:pagina login/style.css
