body{
    background-color: #044F48;
    font-family: Arial, sans-serif;
    display: relative;
    justify-content: center;
    height: 100vh;
    }

.container {
    background: white;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 450px;
    height: 480px;
    margin-top: 10px;
    align-items: center;
    margin-left: 750px;
    }
    
    input[type="password"] {
    width: 90%;
    padding: 9px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    }

   

    button {
    margin-top:0px;
    padding: 20px 50px;
    background: #044F48;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left:120px;
    }

    .card-title{
    font-size:50px ;
    margin-bottom: 100px;
    }

    .texto1{
    font-size: 25px;
    margin-top: 90px;
    }

    .texto2{
   font-size:25px;
   margin-top:10px;
    }

    #nayve {
    font-family: "Inria Serif", serif;
    font-size: 35px;
    letter-spacing: 2px;
    text-align: center;
    justify-content: center;
  }
    #inicio {
    color: white;
    text-decoration: none;
    font-size: 48px;
  }

