html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #044F48;

}

#suprema {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo {
    width: 500px;
    padding: 15px;

    background-color: white;
    border-radius: 5%;
}

h1 {
    text-align: center;
    justify-content: center;
}

footer {
    color: white;
    padding-top: 50%;

}   