body{
    background-color: #044F48;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
  border-radius: 20px;
}

.card-body {
padding: 60px;
}

 .card-title {
    font-size: 400%;
    margin-bottom: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

.btn-primary {
 background-color:#044F48 ;
 border-color: #044F48;
}

 .btn-primary:hover {
 background-color: #044F48;
 border-color: #044F48;
}

.texto{
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.subititulo{
  font-size: 30px; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-text1{
font-size: 16px;
}

.form-text2{
font-size: 16px;
}

.container {
  width: 90%;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a{
  font-size: 14px;
  color: #044F48;
  padding: 0px;
  width: fit-content;
}

.a1{
font-size: 14px;
color: #044F48;
width: fit-content;
}

#nayve {
    font-family: "Inria Serif", serif;
    font-size: 48px;
    letter-spacing: 2px;
    text-align: center;
    justify-content: center;
}

#inicio {
    color: white;
    text-decoration: none;
    font-size: 48px;
}

#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#imagem-google{
height: 30px;
}