html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #044F48;

}

#suprema {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo {
    height: 400px;
    width: 600px;
    padding: 10px;

    background-color: white;
    border-radius: 5%;
    

}

footer {
    color: white;
    padding-top: 50%;

}   